<% provide(:page_title, "All Posts")%>
<% provide(:blog_active, "active") %>


<div class="row">
  <%= render @posts %>

  <div class="col-md-12">

    <%= will_paginate(@posts, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

  </div>
</div>
